{% extends "includes/base.html" %}

{% block content %}

<header>
    <div class="footer_top">
        <div style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" id="toggleButton"
                onclick="toggleWidth()">
                <path fill="white" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
            </svg>
        </div>
        <div style="display: flex; align-items: center;">
            <p style="margin-right: 10px;">{{ dados[0][2] }}</p>
            <img src="data:image/png;base64,{{  dados[0][6]  }}" style="border-radius: 50%; width: 38px; height: 38px">
        </div>
    </div>

    <div class="content" style="max-width: 30%;">
        <div class="criar_tarefa">
            <form action="criar_usuario" method="post" enctype="multipart/form-data">
                <p style="font-size: 15px;">Nome e Sobrenome</p>
                <input type="text" name="nome" class="input_text" required>
                <p style="font-size: 15px;">Nome de usuário (Para login)</p>
                <input type="text" name="usuario" class="input_text" required>
                <p style="font-size: 15px;">Senha de usuário</p>
                <input type="password" name="senha" class="input_text" required>
                <p style="font-size: 15px;">Confirmar senha</p>
                <input type="password" name="confirmar_senha" class="input_text" required>
                <p style="font-size: 15px;">E-mail de usuário</p>
                <input type="email" name="email" class="input_text" required>
                <p style="font-size: 15px;">Foto do usuário</p>
                <input type="file" name="foto_url" class="input_text" required>
                <p style="font-size: 15px;">Setor</p>
                <select name="setor">
                    <option value="gestao_pessoas">Setor de Gestão de Pessoas</option>
                    <option value="contabil_financeiro">Setor de Contábil-Financeiro</option>
                    <option value="governanca_corporativa">Setor de Governança Corporativa</option>
                    <option value="licencas_contratos">Comissão Permanente de Licitações e Contratos</option>
                    <option value="parcerias_negocios">Setor de Parcerias e Novos Negócios</option>
                    <option value="inovacao">Setor de Inovação</option>
                    <option value="solucoes">Setor de Soluções</option>
                    <option value="juridico">Setor Jurídico</option>
                    <option value="planejamento">Setor de Planejamento</option>
                    <option value="comunicacaoinstitucional_estrategica">Setor de Comunicação Institucional e
                        Estratégica</option>
                    <option value="diretoria_colegiada">Diretoria Colegiada</option>
                </select>
                <input type="submit" value="Criar Usuario" id="btn_submit">
            </form>

        </div>
    </div>
</header>

{% endblock %}

