<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSI Governamental</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<style>
    .warning {
        color: red;
        font-size: 12px;
        display: none;
    }
</style>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="toast active">
        {% for category, message in messages %}
        <div class="toast-content">
            <img class="fas fa-solid fa-check check" src="../static/img/{{ category }}.gif">
            <div class="message">
                <span class="text text-1">{{ category }}</span>
                <span class="text text-2">{{ message }}</span>
            </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
        <div class="progress active {{ category }}"></div>
        {% endfor %}
    </div>
    <script>
        setTimeout(function () {
            document.querySelector('.toast').style.display = 'none';
        }, 5600);
    </script>
    {% endif %}
    {% endwith %}



    <header style="text-align: center;">
        <div class="footer_top">
            <div style="display: flex; align-items: center; ">
                <p style="padding-left: 20px;">CSI Governamental</p>
            </div>
        </div>


        <div class="login"
            style="background-color: white; max-width: 400px;display: flex;margin: 0 auto;margin-top: 150px;border-radius: 8px;">
            <form action="/login" method="post">
                <strong>ACESSO RESTRITO</strong><br><br><br>
                <p style="font-size: 15px; justify-content: start; display: flex;">Usuario</p>
                <input class="input_text" type="text" name="usuario">
                <p style="font-size: 15px; justify-content: start; display: flex;">Senha</p>
                <input class="input_text" type="password" id="senha" name="senha">
                <span class="warning" id="capsWarning">Caps Lock está ativado!</span>
                <input class="input_text" type="submit" value="Entrar">
            </form>
        </div>
    </header>
</body>

<script>
    const passwordInput = document.getElementById('senha');
    const warning = document.getElementById('capsWarning');

    passwordInput.addEventListener('keyup', (event) => {
        const capsLockOn = event.getModifierState('CapsLock');
        warning.style.display = capsLockOn ? 'inline' : 'none';
    });

    passwordInput.addEventListener('blur', () => {
        warning.style.display = 'none';
    });
</script>

<script src="{{ url_for('static',     filename='js/script.js') }}"></script>

</html>


