{% extends "includes/base.html" %}

{% block content %}

<style>
    header {
        display: flex;
        justify-content: center;
    }
</style>

<header>
    <div class="tree">
        <ul>
            <li>
                <a href="#">
                    <img src="https://csigovernamental.com/images/2024/01/21/equipe-pauloalves.jpg"
                        style="max-width: 150px; border-radius: 5px;">
                    <div class="details">
                        <p>Paulo Alves</p>
                        <p>Presidente</p>
                    </div>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <img src="https://csigovernamental.com/images/2024/01/21/equipe-jonataslobo.jpg"
                                style="max-width: 150px; border-radius: 5px;">
                            <div class="details">
                                <p>Jonatas Lobo</p>
                                <p>Diretor Executivo</p>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="https://csigovernamental.com/images/2024/01/21/equipe-eloisaaquino.jpg"
                                        style="max-width: 150px; border-radius: 5px;">
                                    <div class="details">
                                        <p>Eloisa Aquino</p>
                                        <p>Diretora Administrativo Financeiro</p>

                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://csigovernamental.com/images/2024/01/21/equipe-renatomonteiro.jpg"
                                        style="max-width: 150px; border-radius: 5px;">
                                    <div class="details">
                                        <p>Renato Monteiro</p>
                                        <p>Diretor Comercial e De Novos Negocios</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://csigovernamental.com/images/2024/01/21/equipe-gessicamoura1.jpg"
                                        style="max-width: 150px; border-radius: 5px;">
                                    <div class="details">
                                        <p>Gessica Moura</p>
                                        <p>Diretora de Operacoes</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>

{% endblock %}