{% extends "includes/base.html" %}
{% block content %}

<header>
    <div class="footer_top">
        <div style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" id="toggleButton"
                onclick="toggleWidth()">
                <path fill="white" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
            </svg>
        </div>
        <div style="display: flex; align-items: center;">
            <p style="margin-right: 10px;">{{dados_user[0][2]}}</p>
            <img src="data:image/png;base64,{{  dados_user[0][6]  }}"
                style="border-radius: 50%; width: 38px; height: 38px">
        </div>
    </div>

    <div class="content">
        <div class="content_01">
            <h3><strong>Controle Revisão Políticas</strong></h3>
            <p>{{len_dados}} Politica(s) registradas.</p>
        </div><br>

        <div class="tarefas">
            <table>
                <tr>
                    <th>Política</th>
                    <th>Responsável</th>
                    <th>Empresa</th>
                    <th>Início</th>
                    <th>Término</th>
                    <th>Dias para vencer</th>
                    <th>Situação</th>
                </tr>

                {% for i in range(len_dados) %}
                <tr>
                    <td style="text-transform: capitalize;">{{dados[i][1]}}</td>
                    <td style="text-transform: capitalize;">{{dados[i][2]}}</td>
                    <td style="text-transform: capitalize;">{{dados[i][3]}}</td>
                    <td style="text-transform: capitalize;">{{dados[i][4]}}</td>
                    <td style="text-transform: capitalize;">{{dados[i][5]}}</td>
                    <td style="text-transform: capitalize;">{{ (dados[i][5] - data_atual).days }} dias restantes</td>
                    <td class="dias-restantes" data-inicio="{{ data_atual }}" data-fim="{{ dados[i][5] }}"></td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</header>

<script>
    function calcularDiasRestantes(dataInicio, dataFim) {
        const inicio = new Date(dataInicio);
        const fim = new Date(dataFim);

        const diffTime = fim - inicio;
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

        if (diffDays < 0) {
            return 'Vencido';
        } else if (diffDays < 30) {
            return 'A vencer';
        } else if (diffDays >= 30 && diffDays < 60) {
            return 'Revisão';
        } else {
            return 'OK';
        }
    }
    const cells = document.querySelectorAll('.dias-restantes');
    cells.forEach(function (cell) {
        const dataInicio = cell.getAttribute('data-inicio');
        const dataFim = cell.getAttribute('data-fim');
        cell.innerText = calcularDiasRestantes(dataInicio, dataFim);
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}